{% extends "base.html" %}
{%load static%}

{% block title %}
    My Blog
{% endblock %}

{% block css_files%}
<link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock%}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/crab.jpg' %}" alt="Anunay - The Author Of This Blog">

        </header>
        <p> Welcome to my blog! I'm Anunay, and I love sharing my thoughts and experiences with you. </p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
                {% include "blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>
            I love skiing and basketball.
        </p>
        <p>
            Stay tuned for more exciting content!
        </p>
    </section>
{% endblock %}
