{%load static%}

<li>
    <article class="post">
        <a href="">
            <img src="{%static "blog/images/alps.jpg"%}" alt="Mountain Hiking" />
            <div class="post_content">
                <h3> Mountain Hiking </h3>
                <p>
                    Exploring the serene mountains, breathing in the fresh air, and feeling the
                    exhilaration of reaching new heights. Mountain hiking is not just an adventure; it's a
                    journey of self-discovery.
                </p>
            </div>
        </a>
    </article>
</li>